.sl-markdown-content h1:not(:where(.not-content *)) {
  --at-apply: -tracking-wide font-extrabold text-4xl leading-10 m-0 scroll-m-20;
}

@media (min-width: 1024px) {
  .sl-markdown-content h1:not(:where(.not-content *)) {
    --at-apply: text-5xl leading-none;
  }
}

.sl-markdown-content h2:not(:where(.not-content *)) {
  --at-apply: -tracking-wide font-semibold text-3xl leading-9 m-0 pb-2 scroll-m-20 border-b;
}

.sl-markdown-content h2:not(:where(.not-content *)):first-child {
  --at-apply: mt-0;
}

.sl-markdown-content h3:not(:where(.not-content *)) {
  --at-apply: -tracking-wide font-semibold text-2xl leading-8 m-0 scroll-m-20;
}

.sl-markdown-content h4:not(:where(.not-content *)) {
  --at-apply: -tracking-wide font-semibold text-xl leading-7 m-0 scroll-m-20;
}

.sl-markdown-content p:not(:where(.not-content *)):not(li p) {
  --at-apply: leading-7 first:mt-6;
}

.sl-markdown-content blockquote:not(:where(.not-content *)) {
  --at-apply: italic mt-6 m-0 pl-6 border-l-2;
  border-left-style: solid;
}

.sl-markdown-content table:not(:where(.not-content *)) {
  --at-apply: w-full indent-[0] border-inherit border-collapse;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr {
  --at-apply: m-0 p-0 border-t;
  border-top-style: solid;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th {
  --at-apply: font-bold text-left border px-4 py-2 border-solid;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th[align="right"] {
  --at-apply: text-right;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th[align="center"] {
  --at-apply: text-center;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr {
  --at-apply: m-0 p-0 border-t;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr:nth-child(even) {
  --at-apply: bg-[hsl(var(--muted))];
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td {
  --at-apply: text-left border px-4 py-2 border-solid;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td[align="right"] {
  --at-apply: text-right;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td[align="center"] {
  --at-apply: text-center;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  --at-apply: list-disc ml-6 my-6;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  --at-apply: mt-2;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  --at-apply: relative rounded bg-[hsl(var(--muted))] text-sm font-semibold px-[0.3rem] py-[0.2rem];
  font-family: var(--sl-font-mono), monospace;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  --at-apply: font-medium underline underline-offset-4 text-inherit;
}
