---
import config from 'virtual:starlight/user-config'
import Pagination from './Pagination.astro'

const {
  pagination,
  editUrl,
  lastUpdated,
  entry: {
    data: { template },
  },
} = Astro.locals.starlightRoute

const showFooterInSplash
  = template === 'splash' && !!(editUrl || lastUpdated || pagination.next || pagination.prev || config.credits)
---

{
  showFooterInSplash && (
    <div class="container-wrapper">
      <div class="container">
        <Pagination />
      </div>
    </div>
  )
}

{!showFooterInSplash && template === 'splash' && <div class="mb-[-3vh]" />}

{template === 'doc' && <Pagination />}

