---
import config from 'virtual:starlight/user-config'
import NavBar from '../components/NavBar.astro'
import MobileMenuToggle from './MobileMenuToggle.astro'

import Search from './Search.astro'
import SiteTitle from './SiteTitle.astro'
import SocialIcons from './SocialIcons.astro'
import ThemeSelect from './ThemeSelect.astro'

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch = config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro'
---

<header class="sticky top-0 z-10000! w-full -mb-px bg-background text-[--accent] overscroll-none border-none md:border-x md:border-dashed md:border-border">
  <div class="px-4 sm:px-6 lg:px-8 w-full flex items-center gap-3 h-[var(--header-height)]">
    <!-- logo -->
    <SiteTitle />
    <!-- nav -->
    <div class="flex-1 flex justify-center items-center">
      <NavBar />
    </div>
    <!-- right side -->
    <div class="w-[200px] flex items-center justify-end gap-1.5">
      {shouldRenderSearch && <Search />}
      <div>
        <ThemeSelect />
      </div>
      <div>
        <SocialIcons />
      </div>
      <div class="block md:hidden">
        <MobileMenuToggle />
      </div>
    </div>
  </div>
</header>
