<button
  class="[all:unset] inline-flex h-8 w-8 items-center
  justify-center text-4 leading-6 text-foreground"
  popovertargetaction="toggle"
  popovertarget="drawer"
>
  <div class="relative size-3 flex flex-col justify-around items-end">
    <span class="block w-2.5 h-[1px] bg-current rounded-full transition-all"></span>
    <span class="block w-3 h-[1px] bg-current rounded-full transition-all"></span>
    <span class="block w-1.5 h-[1px] bg-current rounded-full transition-all"></span>
  </div>
  <span class="sr-only">Toggle Menu</span>
</button>

<div id="drawer" popover="auto" class="drawer">
  <slot />
</div>

<style>
  button {
    --at-apply: [all:unset] inline-flex h-8 w-8 items-center justify-center text-4 leading-6 text-foreground;
  }

  .drawer {
    --at-apply: fixed inset-0 bg-background z-50 p-4 w-screen h-screen;
    --at-apply: flex flex-col;
  }

  .drawer:not([popover-open]) {
    display: none;
  }

  @media (min-width: 50em) {
    .drawer {
      display: none;
    }
  }
</style>
