<button class="show-modal" popovertargetaction="toggle" popovertarget="drawer">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><!-- Icon from Carbon by IBM - undefined --><path fill="currentColor" d="M4 6h24v2H4zm0 18h24v2H4zm0-12h24v2H4zm0 6h24v2H4z" /></svg>
  <span class="sr-only">Toggle Menu</span>
</button>

<style>
  button {
    --at-apply: [all:unset] inline-flex h-8 w-8 items-center justify-center text-4 leading-6 text-foreground;
  }

  button > svg {
    --at-apply: size-4;
  }
</style>
