---
import Footer from '../components/Footer.astro'
import MobilePageMenu from '../components/MobilePageMenu.astro'

const { hasSidebar } = Astro.locals.starlightRoute
---

<div class="bg-background flex flex-col min-h-[100svh] relative">
  <div class="border-border/30 flex flex-col flex-1 dark:border-border">

    <header
      class="bg-background w-full z-50 md:top-0 md:sticky backdrop-blur
      border-b border-b-dashed border-border h-[--header-height]"
    >
      <div class="container-wrapper">
        <div class="container flex items-center h-14">
          <slot name="header" />
        </div>
      </div>
    </header>
    <MobilePageMenu />
    <main class="flex flex-1 flex-col">
      {!hasSidebar && <slot />}

      {
        hasSidebar && (
          <div class="container-wrapper">
            <div
              class="container items-start flex-1
              lg:gap-10 lg:grid-cols-[minmax(280px,max-content)_minmax(0,1fr)]
              md:gap-6 md:grid-cols-[minmax(260px,max-content)_minmax(0,1fr)] md:grid
              "
            >
              <aside
                class="z-30 top-14 fixed md:sticky hidden md:block
                border-r border-r-dashed border-border/30 dark:border-border
                shrink-0 w-full h-[calc(100vh-3.5rem)]"
              >
                <slot name="sidebar" />
              </aside>

              <slot />
            </div>
          </div>
        )
      }
    </main>
    <Footer />
  </div>
</div>
