---
import TableOfContents from './TableOfContents.astro'
---

{
  Astro.locals.starlightRoute.toc && (
    <div class="pt-4 h-[calc(100vh-3.5rem)] mt-[-1.5rem] top-5 sticky">
      <TableOfContents />
    </div>
  )
}

