---
import SidebarSublist from './SidebarSublist.astro'

const { sidebar } = Astro.locals.starlightRoute
---

<div class="sidebar overflow-auto h-full pr-4 pl-4 py-6 [scrollbar-width:none] lg:py-8 border-l border-dashed border-border">
  <slot name="header" />
  <div class="gap-6 flex-col flex">
    <SidebarSublist sublist={sidebar} />
  </div>
</div>
