---
import TableOfContentsList from '../components/TableOfContents/TableOfContentsList.astro'

const { toc } = Astro.locals.starlightRoute
---

{
  toc && (
    <starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
      <nav aria-labelledby="starlight__on-this-page">
        <p id="starlight__on-this-page">Table of Contents</p>
        <TableOfContentsList toc={toc.items} />
      </nav>
    </starlight-toc>
  )
}

<script src="../components/TableOfContents/starlight-toc"></script>

<style>
  starlight-toc {
    --at-apply: overflow-auto h-full pb-10 [scrollbar-width:none];
  }
  p {
    --at-apply: font-medium;
  }
</style>
