---
const { toc } = Astro.locals.starlightRoute
---

{!toc && <slot />}

{
  toc && (
    <main class="container-main py-6 relative lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
      <div class="max-w-2xl min-w-0 w-full mx-auto">
        <slot />
      </div>

      <div class="text-sm leading-5 hidden xl:block">
        <slot name="right-sidebar" />
      </div>
    </main>
  )
}
