---
import { marked } from 'marked'

import userConfig from 'virtual:starlight-theme-destyler-config'
import Logo from './Logo.astro'
---

<div class="w-full h-px bg-border flex items-center justify-center mb-3 mt-12">
  <div class="bg-white dark:bg-black px-4">
    <Logo class="w-6 h-6" />
  </div>
</div>
<footer class="relative">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl py-8 lg:py-4 lg:flex lg:items-center lg:justify-between lg:gap-x-3">
    <div class="lg:flex-1 flex items-center justify-center lg:justify-end gap-x-1.5 lg:order-3">
      <!-- social -->
      {userConfig.footer?.social?.map(icon => (
        <a
          class="sl-flex button"
          data-variant="ghost"
          href={icon.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex-shrink-0 h-5 w-5" class:list={icon.icon} />
        </a>
      ))}

    </div>
    <div class="mt-3 lg:mt-0 lg:order-2 flex items-center justify-center">
      <!-- main -->
      <ul class="flex flex-col md:flex-row items-center justify-center gap-4 lg:gap-6">
        {userConfig.footer?.items?.map(item => (
          <li class="relative">
            <a
              href={item.url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-sm text-gray-500 dark:text-gray-400 hover:text-gray-600 dark:hover:text-gray-300"
            >
              {item.text}
              <div
                class:list={[
                  'w-3 h-3 absolute top-0.5 -right-3.5 text-gray-400 dark:text-gray-500',
                  { 'i-carbon:arrow-up-right': item?.site },
                ]}
              />
            </a>
          </li>
        ))}
      </ul>
    </div>
    <div
      class="flex items-center justify-center lg:justify-start lg:flex-1 gap-x-1.5 mt-3 lg:mt-0 lg:order-1"
      set:html={marked.parseInline(userConfig.footer?.text || 'Published under [MIT License](https://github.com/destyler)')}
    >
    </div>
  </div>
</footer>
