---
import MobileMenu from "./MobileMenu.astro"
import MobilePage from "./MobilePage.astro"
---

<div class="md:hidden z-1000! w-full sticky top-0 border-b border-b-dashed border-b-border bg-background">
  <div class="w-full flex justify-between items-center">
    <MobileMenu/>
    <MobilePage />
  </div>
</div>
