@import './styles/variables.css';

:root:root {
  --sl-font: 'Geist Sans', sans-serif;
  --sl-font-mono: 'Geist Mono', monospace;

  --header-height: 4rem;

  --sl-color-text-accent: hsl(var(--primary));
}

* {
  --at-apply: border-border;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

*,
:after :before {
  --at-apply: box-border border border-0 border-solid;
}

html {
  --at-apply: leading-normal;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-tap-highlight-color: transparent;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--sl-font), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --at-apply: bg-background min-h-100svh text-foreground overscroll-none leading-[inherit] m-0;

  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

.container-wrapper {
  --at-apply: w-full mx-auto;
}

@media (min-width: 1800px) {
  .container-wrapper {
    --at-apply: max-w-1536px;
  }
}


@media (min-width: 1536px) {
  .container {
    --at-apply: max-w-screen-2xl px-4;
  }
}

@media (min-width: 1280px) {
  .container {
    --at-apply: max-w-screen-xl px-6;
  }
}

@media (min-width: 1024px) {
  .container {
    --at-apply: max-w-1024px;
  }
}

@media (min-width: 768px) {
  .container {
    --at-apply: max-w-768px;
  }
}

@media (min-width: 640px) {
  .container {
    --at-apply: max-w-640px;
  }
}

.container {
  --at-apply: max-w-screen-2xl w-full mx-auto px-4;
}

.makrdown-wrapper:has(.container-section) {
  --at-apply: py-0;
}

.button[data-variant='ghost'] {
  --at-apply: items-center bg-transparent transition-colors ease-in-out duration-[0.15s]
  font-medium text-sm leading-5 rounded-md whitespace-nowrap gap-2
  justify-center w-8 h-8 inline-flex cursor-pointer px-0 py-2 border-[none];
}

.button[data-variant='ghost']:hover {
  --at-apply: text-accent-foreground bg-accent;
}
